.card-img-top {
    height: 50vh;
}

.card:hover {
    scale: 1.01;
}

.chartListTitle {
    font-size: 0.7rem;
}

.chartListPrice {
    text-align: right;
}

.chartListRemove {
    text-align: center;
    cursor: pointer;
}

.chartTotal td {
    padding-top: .5rem;
}